{% extends "base.html" %} {% load i18n %} {% load account socialaccount %}
<!--{% block head_title %}{% trans "Sign In" %}{% endblock %} -->
{% block content %} {% load static %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('{% static 'assets/img/wheelie2.png' %}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>{% trans "Log In" %}</h1>
          <span class="subheading"
            >Please log in if you want to comment and like articles!</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          {% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>
        <div class="my-5">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            <button class="primaryAction" type="submit">
              {% trans "Log In" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{%endblock%}
