{% extends "base.html" %} 

{% block content %}

{% load static %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static "assets/img/kiss.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Welcome to Sport Bike Blog!</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Hey there, fellow riders and enthusiasts! I'm Luka, the adventurer 
                    behind the handlebars, and I'm thrilled to welcome you to my two-wheeled universe. 
                    This blog is not just about motorcycles; it's a celebration of the wind in our hair, 
                    the open road beneath our wheels, and the passion that fuels our love for all things motorcycling.</p>
                <p>Who am I?</p>
                <p>I'm not just a rider; I'm a storyteller on a steel horse, navigating the highways 
                    and byways of life. Born with a love for the unmistakable rumble of engines and
                    the freedom that comes with each twist of the throttle, my journey into the world of motorcycles has been nothing short of exhilarating.</p>
                <p>Why Motorcycles?</p>
                <p>For me, motorcycles aren't just a mode of transportation; they're a way of life.
                    Whether it's the adrenaline-pumping thrill of a spirited ride through winding 
                    mountain roads or the camaraderie forged at a dusty roadside diner, motorcycles
                    have woven themselves into the very fabric of my existence. Through this blog, 
                    I aim to share the joy, challenges, and profound moments that come with embracing the motorcycle lifestyle.</p>
                <p>What to Expect?</p>
                <p>Expect a blend of gripping ride tales, gear reviews, maintenance tips, and the occasional philosophical musings about 
                    life on two wheels. I'll be your guide through the vast landscape of motorcycle culture, exploring everything from classic cruisers to 
                    cutting-edge sportbikes.</p>
                <p>Join the Ride!</p>
                <p>This blog isn't just about my experiences; it's a community for riders from all walks of life. 
                    Share your stories, ask questions, and let's embark on this thrilling journey together. 
                    Whether you're a seasoned rider or someone contemplating their first bike, there's a place for you here.</p>
                <p>So, buckle up (or helmet on!), and let's explore the world of motorcycles one twist of the throttle at a time. 
                    The road awaits, and I can't wait to have you along for the ride!</p>
                <p>Ride safe,</p>
                <p>Luka
                </p>
            </div>
        </div>
    </div>
</main>

{%endblock%}