{% extends "base.html" %} {% block content %} {% load static %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('{% static 'assets/img/triumph.jpg' %}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Sport Bike Blog</h1>
          <span class="subheading">A Blog Started by Luka</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      <div class="post-preview">
        {% for post in blogpost_list %}
        <div class="image-container">
          {% if "placeholder" in post.featured_image.url %}
          <img
            class="card-img-top"
            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
            alt="daughters kiss"
          />
          {% else %}
          <img
            class="card-img-top"
            src=" {{ post.featured_image.url }}"
            alt="bike image"
          />
          {% endif %}
          <div class="image-flash">
            <p class="author">Written by {{ post.author }}</p>
          </div>
        </div>
        <a href="{% url 'post' post.slug  %}" class="post-link">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">
            {{ post.engine_cc }}cc {{ post.brand }} {{ post.model }}
          </h3>
        </a>

        <hr class="my-4" />
        <p class="card-text">
          <i class="far fa-heart"></i> {{ post.number_of_likes }}
        </p>
        <hr class="my-4" />
        {% if forloop.counter|divisibleby:3 %}
        <div class="post-preview">{% endif %} {% endfor %}</div>
      </div>
      <!-- Pagination code-->
      {% if is_paginated %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li>
            <a
              href="?page={{ page_obj.previous_page_number }}"
              class="page-link"
              >&laquo; PREV
            </a>
          </li>
          {% endif %} {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">
              NEXT &raquo;</a
            >
          </li>

          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>

{%endblock%}
